body{
  width: 600px;
  margin: 0 auto;
}
h1{
  margin:  30px 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid silver;
}
ul{
  padding-left: 80px;
}

.correct-style{
  color:green;
  &::after{
    content:'-正解！'
  }
}
.incorrect-style{
  color:red;
  &::after{
    content:'-不正解...'
  }
}